label {
	color: #999999;
	font-size: small;
}

.size:hover {
    opacity: 0.2;
}

#small-cone {
	max-height: 150px;
}

#medium-cone {
	max-height: 175px;
}

#large-cone {
	max-height: 200px;
}

#small-cup {
	height: 150px;
	width: 110px ;
}

#medium-cup {
	height: 190px;
	width: 130px ;

}

#large-cup {
	height: 220px;
	width: 150px ;

}

.footer {
	color: #cccccc;
}