<!DOCTYPE html>
<html>
    <head>
        <title>
            Ice-Cream Shop
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">

         <script  src="https://code.jquery.com/jquery-3.4.1.js"   
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   
            crossorigin="anonymous"> 
         </script>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
             integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
             crossorigin="anonymous">
         </script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
             integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
             crossorigin="anonymous">
         </script>
         <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-firestore.js"></script>

         <link rel="stylesheet" href="../static/css/style.css"> 

         <script type="text/javascript" src="../static/javascript/factory.js"></script>

        <script type="text/javascript" src="./assets/static/javascript/firebase.js"></script>    
 
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-11 title text-center position-fixed">
                    <a href="../../index.html">
                        <h1>ICE-CREAM FACTORY</h1>
                    </a>
                </div>
            </div>
            <div class="row m-5 pt-5 position-relative">
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone-2.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone-3.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-1.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-2.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-3.tiff">
                </div>
            </div>
            <div class="top row m-2 mt-5 position-relative">
                <div class="col-2 ml-4 pt-4 cone cone-1 text-center">
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 size" src="./assets/static/images/icecream.png">
                </div>
                <div class="col-2 ml-4 pt-4 cone cone-2 text-center">
                        <img draggable="false" id="medium-cone" title="Medium Cone" class="m-2 size" src="./assets/static/images/icecream-cone-2.png">
                </div>
                <div class="col-2 ml-4 pt-4 cone cone-3 text-center">
                        <img draggable="false" id="large-cone" title="Large Cone" class="m-2 size" src="./assets/static/images/icecream-cone-3.png">
                </div>
                <div class="col-4 pl-5 cart bounce-4 text-center">
                        <img draggable="false" id="cart" title="Drop items here" class="ml-2" src="./assets/static/images/empty-bag.png">
                        <a href="#" ><span title="View shopping bag" class="cart bounce-4 counter counter-shake position-absolute border rounded-circle text-center pt-1 inactive">0</span></a> 
                </div>
            </div>
            <div class="top row m-2 mt-5 position-relative">
                <div class="col-2 ml-4 pt-4 cone cone-1 text-center">
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 size" src="./assets/static/images/icecream.png">
                </div>
                <div class="col-2 ml-4 pt-4 cone cone-2 text-center">
                        <img draggable="false" id="medium-cone" title="Medium Cone" class="m-2 size" src="./assets/static/images/icecream-cone-2.png">
                </div>
                <div class="col-2 ml-4 pt-4 cone cone-3 text-center">
                        <img draggable="false" id="large-cone" title="Large Cone" class="m-2 size" src="./assets/static/images/icecream-cone-3.png">
                </div>
                <div class="col-4 pl-5 cart bounce-4 text-center">
                        <img draggable="false" id="cart" title="Drop items here" class="ml-2" src="./assets/static/images/empty-bag.png">
                        <a href="#" ><span title="View shopping bag" class="cart bounce-4 counter counter-shake position-absolute border rounded-circle text-center pt-1 inactive">0</span></a> 
                </div>
            </div>
            <div class="top row m-2">
                <div class="col-2 ml-4 mt-3 pt-4 cup cup-1 text-center">
                        <img draggable="false" id="small-cup" title="Small Cup" class="m-2 size" src="./assets/static/images/bowl-1.tiff">
                </div>
                <div class="col-2 ml-4 mt-3 pt-4 cup cup-2 text-center">
                        <img draggable="false" id="medium-cup" title="Medium Cup" class="m-2 size" src="./assets/static/images/bowl-2.tiff">
                </div>
                <div class="col-2 ml-4 mt-3 pt-4 cup cup-3 text-center">
                        <img draggable="false" id="large-cup" title="Large Cup" class="m-2 size" src="./assets/static/images/bowl-3.tiff">
                </div>
                <div class="col-4 pt-5 mt-3 pl-5 text-center">
                        <h5 class="text">Next, choose you flavors!</h5>
                        <a class="link next-link-inactive" href="">
                            <img draggable="false" title="Choose you flavor" class="m-2 next next-inactive" src="./assets/static/images/next.png">
                        </a>
                </div>
            <div class="row m-5">
                <div class="col-2 flavor text-center">
                    <img id="flavor-1" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-1"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-2" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-2"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-3" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-3"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-4"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-5" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-5"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-6" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-6"> flavor </label>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-2 flavor text-center">
                    <img id="flavor-7" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-7"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-8" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-8"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-9" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-9"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-10" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-10"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-11" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-11"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-12" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-12"> flavor </label>
                </div>


                 <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-1 d-inline-block">
                        <div class="rounded-circle border rounded brown flavor-selected d-inline-block"></div> 
                        <label class="align-text-top text-left pl-3 pr-2">
                            <span class="float-right remove">&times;</span>
                            toffee
                        </label>
                        <br>
                        <div class="rounded-circle border rounded brown flavor-selected  d-inline-block"></div> <label class="align-text-top text-left pl-3 pr-2">
                            <span class="float-right remove">&times;</span>
                            toffee
                        </label>
                        <br>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream-cone-3.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream-cone-2.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-topb bottom">2 scoops left</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
                    <div class="m-5 cone cone-2 text-center d-inline-block">
                        <div class="rounded-circle border rounded green flavor-selected d-inline-block"></div> 
                        <label class="align-text-top text-left pl-3 pr-2">
                            <span class="float-right remove">&times;</span>
                            basil  & lime 
                        </label>
                        <br>
                        <!-- flavor html to append -->
                        <div class="rounded-circle border rounded orange flavor-selected d-inline-block"></div>
                        <label class="align-text-top text-left pl-3 pr-2">
                            <span class="float-right remove">&times;</span>
                            tangerine 
                            
                        </label>
                        <br>
                        <!-- end -->
                        <img draggable="false" id="small-cone" title="Medium Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream-cone-2.png">
                        <br> 
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top ready bottom">READY</label>
                    </div>
                    <div class="m-5 cone cone-1 text-center d-inline-block">
                        <span class="float-right delete">&times;</span>
                        <img draggable="false" id="small-cone" title="Small Cone" class="m-2 mt-3 draggable" src="./assets/static/images/icecream.png">
                        <br>
                        <div class="rounded-circle d-inline-block"></div>
                        <label class="align-text-top bottom">1 scoop left</label>
                    </div>
            </div>
            <div class="row">
                <div class="col-11 pt-5 footer position-fixed text-center">
                    Copyright &copy;
                </div>
            </div>
        </div>
    </body>
</html>

