<!DOCTYPE html>
<html>
    <head>
        <title>
            Ice-Cream Shop
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">

         <script  src="https://code.jquery.com/jquery-3.4.1.js"   
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   
            crossorigin="anonymous"> 
         </script>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
             integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
             crossorigin="anonymous">
         </script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
             integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
             crossorigin="anonymous">
         </script>

         <link rel="stylesheet" href="../static/css/style.css"> 

         <script type="text/javascript" src="../static/javascript/factory.js"></script>    
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-11 title text-center position-fixed">
                    <a href="../../index.html">
                        <h1>ICE-CREAM FACTORY</h1>
                    </a>
                </div>
            </div>
            <div class="row m-5 pt-5 position-relative">
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone-2.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="large-cone" class="m-2" src="../static/images/icecream-cone-3.png">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-1.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-2.tiff">
                </div>
                <div class="col m-4 size cone cone-3 text-center">
                    <img id="small-cup" class="m-2" src="../static/images/bowl-3.tiff">
                </div>
            </div>
            <div class="row m-5">
                <div class="col-2 flavor text-center">
                    <img id="flavor-1" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-1"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-2" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-2"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-3" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-3"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-4"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-5" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-5"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-6" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-6"> flavor </label>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-2 flavor text-center">
                    <img id="flavor-7" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-7"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-8" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-8"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-9" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-9"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-10" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-10"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-11" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-11"> flavor </label>
                </div>
                <div class="col-2 flavor text-center">
                    <img id="flavor-12" class="m-2 flavor-img" src="../static/images/square.png">
                    <label for="flavor-12"> flavor </label>
                </div>
            </div>
            <div class="row">
                <div class="col-11 pt-5 footer position-fixed text-center">
                    Copyright &copy;
                </div>
            </div>
        </div>
    </body>
</html>

